<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/mobile.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Q&A - Home</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <svg width="135" height="57" viewBox="0 0 135 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M67.8394 46.2313L64.5094 41.7543C63.5227 41.9516 62.5607 42.0503 61.6234 42.0503C59.1814 42.0503 56.9367 41.4829 54.8894 40.3483C52.8667 39.2136 51.2511 37.6349 50.0424 35.6123C48.8584 33.5649 48.2664 31.2709 48.2664 28.7303C48.2664 26.1896 48.8584 23.9079 50.0424 21.8853C51.2511 19.8626 52.8667 18.2839 54.8894 17.1493C56.9367 16.0146 59.1814 15.4473 61.6234 15.4473C64.0654 15.4473 66.2977 16.0146 68.3204 17.1493C70.3677 18.2839 71.9711 19.8626 73.1304 21.8853C74.3144 23.9079 74.9064 26.1896 74.9064 28.7303C74.9064 30.9503 74.4501 32.9853 73.5374 34.8353C72.6494 36.6606 71.4037 38.1776 69.8004 39.3863L75.4984 46.2313H67.8394ZM54.7414 28.7303C54.7414 31.0243 55.3581 32.8619 56.5914 34.2433C57.8494 35.5999 59.5267 36.2783 61.6234 36.2783C63.6954 36.2783 65.3481 35.5876 66.5814 34.2063C67.8394 32.8249 68.4684 30.9996 68.4684 28.7303C68.4684 26.4363 67.8394 24.6109 66.5814 23.2543C65.3481 21.8729 63.6954 21.1823 61.6234 21.1823C59.5267 21.1823 57.8494 21.8606 56.5914 23.2173C55.3581 24.5739 54.7414 26.4116 54.7414 28.7303ZM124.188 37.2033H114.494L112.94 41.7913H106.317L115.715 15.8173H123.041L132.439 41.7913H125.742L124.188 37.2033ZM122.56 32.3193L119.341 22.8103L116.159 32.3193H122.56Z"
                        fill="#0D274F" />
                    <path
                        d="M98.3676 41.7913L95.9626 39.4603C93.5699 41.2856 90.7086 42.1983 87.3786 42.1983C85.3806 42.1983 83.6416 41.8776 82.1616 41.2363C80.6816 40.5703 79.5346 39.6453 78.7206 38.4613C77.9313 37.2526 77.5366 35.8466 77.5366 34.2433C77.5366 32.6153 77.9683 31.1476 78.8316 29.8403C79.7196 28.5083 81.0393 27.4229 82.7906 26.5843C82.1493 25.7949 81.6929 25.0426 81.4216 24.3273C81.1503 23.5873 81.0146 22.7856 81.0146 21.9223C81.0146 20.6889 81.3353 19.5666 81.9766 18.5553C82.6179 17.5439 83.5429 16.7546 84.7516 16.1873C85.9849 15.5953 87.4403 15.2993 89.1176 15.2993C90.8196 15.2993 92.2626 15.6076 93.4466 16.2243C94.6306 16.8409 95.5186 17.6673 96.1106 18.7033C96.7026 19.7393 96.9739 20.8739 96.9246 22.1073H90.9676C90.9923 21.4413 90.8196 20.9356 90.4496 20.5903C90.1043 20.2203 89.6356 20.0353 89.0436 20.0353C88.4516 20.0353 87.9583 20.2079 87.5636 20.5533C87.1689 20.8986 86.9716 21.3426 86.9716 21.8853C86.9716 22.4033 87.1319 22.9459 87.4526 23.5133C87.7979 24.0806 88.3283 24.7343 89.0436 25.4743L95.3706 31.6533C95.4199 31.5299 95.4816 31.3819 95.5556 31.2093C95.6543 31.0366 95.7529 30.8393 95.8516 30.6173L97.2206 28.2863H103.548L101.772 31.5053C101.106 32.9606 100.341 34.3419 99.4776 35.6493L105.731 41.7913H98.3676ZM87.6746 37.0923C89.3273 37.0923 90.7949 36.6236 92.0776 35.6863L86.3056 30.0993C84.5296 31.0119 83.6416 32.2453 83.6416 33.7993C83.6416 34.7366 83.9993 35.5259 84.7146 36.1673C85.4546 36.7839 86.4413 37.0923 87.6746 37.0923Z"
                        fill="#D35C19" />
                    <path
                        d="M19.432 44.2084C28.3753 44.2084 35.6252 37.1868 35.6252 28.5253C35.6252 19.8638 28.3753 12.8422 19.432 12.8422C10.4887 12.8422 3.23877 19.8638 3.23877 28.5253C3.23877 37.1868 10.4887 44.2084 19.432 44.2084Z"
                        stroke="#0D274F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M14.7197 23.8204C15.1004 22.7722 15.8519 21.8884 16.841 21.3254C17.8301 20.7624 18.9929 20.5566 20.1237 20.7445C21.2544 20.9323 22.28 21.5017 23.0189 22.3517C23.7577 23.2017 24.1621 24.2776 24.1604 25.3887C24.1604 28.5253 19.3024 30.0936 19.3024 30.0936"
                        stroke="#D35C19" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.4316 36.3668H19.4466" stroke="#D35C19" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </header>

        <%- include(`parts/${page}`) %>

    </div>
</body>

</html>