/* ==== Room ==== */
#room.content {
    max-width: min(32.3rem, 90%);
    margin-inline: auto;
}

#room header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1.8rem;
}

#room h2 {
    margin-top: 4rem;
}

#room .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
}

/* ==== Form ==== */
.form form {
    border: 1px solid var(--border-input-color);
    border-radius: 0 .8rem .8rem .8rem;
    padding: 1.2rem 1.6rem;

    font-family: 'Open Sans', sans-serif;
}

.form form textarea {
    resize: none;

    width: 100%;
    margin-bottom: 4rem;

    border: none;
    outline: none;

    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.form form textarea::placeholder {
    color: var(--border-input-color);
    font-family: 'Open Sans', sans-serif;
}

.form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form form footer div {
    display: flex;
    align-items: center;
    gap: .8rem;

    font-size: 1.2rem;
    color: var(--border-input-color);
}

/* ==== Question ==== */
.question {
    background-color: var(--question-background);
    border-radius: 0 .8rem .8rem .8rem;

    padding: 1.2rem .8rem 0 1.2rem;
}

.question .content {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;

    margin-bottom: 2rem;
}

.question .content a,
.question .content div:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;

    color: var(--secundary-color);

    display: flex;
    align-items: center;

    word-break: break-word;
    min-height: 3.2rem;
}

.question.read {
    background-color: var(--question-read-background);
}

/* ==== Menu expanded ==== */
.menu,
.close-menu,
body.menu-expanded .open-menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
    z-index: 10;
}

body.menu-expanded .logo svg path:nth-child(-n + 2) {
    fill: white;
}

body.menu-expanded .logo svg path:nth-child(n + 3) {
    stroke: white;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    padding: 0 3.2rem;

    transition: transform .3s;
    transform: translateX(0%);
}

.menu {
    transform: translateX(100%);
}

body.menu-expanded .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    width: 100%;
    padding-block: 1.2rem;

    background: white;
    color: var(--primary-color);

    border-radius: .8rem;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

body.menu-expanded .menu div {
    border: 2px solid white;
    border-radius: .8rem;

    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

body.menu-expanded .menu div input {
    background-color: transparent;
    color: white;

    width: 8rem;
    border: none;

    font-size: 1.6rem;
    font-weight: 500;
}

/* ==== Empty ==== */
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.empty .title {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;

    color: var(--primary-color);
}

/* ==== Questions-room ==== */
#questions-room .empty {
    margin: 4rem;
}

/* ==== Answers-room ==== */
#answers-room .wrapper {
    margin-block: 2.4rem;
}

#answers-room .question {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

#answers-room .answer {
    background-color: var(--answer-background);
    border-radius: 0 .8rem .8rem .8rem;

    padding: 1.2rem .8rem 0 1.2rem;
}

#answers-room .answer .content {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;

    margin-bottom: 2rem;
}

#answers-room .answer .content div:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;

    color: var(--secundary-color);

    display: flex;
    align-items: center;

    word-break: break-word;
    min-height: 3.2rem;
}

#answers-room .separator {
    margin: 2rem 0;
}

#answers-room .separator div:nth-child(2) {
    color: var(--secundary-color);
    font-weight: 700;
}

#answers-room .form .separator div:nth-child(2) {
    min-width: 11rem;
    text-align: center;
}

/* ==== Responsive ==== */
@media (min-width: 1024px) {

    /* Globals */
    .container {
        width: min(90%, 112rem);
    }

    #room header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Navigation */
    /* Reset */
    nav#navigation> :not(.sr-only) {
        display: initial;
        flex-direction: initial;
        position: initial;
        background-color: initial;
        color: initial;
        transform: initial;
        opacity: initial;
        visibility: initial;
        font-size: initial;
        font-weight: initial;
        margin: 0;
        padding: 0;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu {
        display: none;
    }

    nav#navigation .menu {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: .8rem;
    }

    nav#navigation .menu a {
        display: flex;
        align-items: center;
        gap: 1rem;

        padding: 1.2rem 2rem;
        border-radius: 8px;

        background-color: var(--primary-color);
        color: white;

        font-weight: 500;
        font-size: 1.6rem;
    }

    nav#navigation .menu a:hover {
        filter: brightness(1.2);
    }

    nav#navigation .menu a path {
        stroke: white;
    }

    nav#navigation .menu .copy-text {
        display: flex;
        align-items: center;
        gap: 1rem;

        height: 5rem;
        padding-inline: 1.6rem;

        border: 2px solid var(--primary-color);
        border-radius: .8rem;

        cursor: pointer;
    }

    nav#navigation .menu .copy-text:hover {
        transition: scale ease-in-out .1s;
        transform: scale(1.02);
    }

    nav#navigation .menu .copy-text input {
        background: transparent;
        color: var(--primary-color);

        border: none;
        cursor: pointer;

        font-weight: 500;
        font-size: 1.6rem;

        width: 8rem;
    }

    nav#navigation .menu .copy-text svg path {
        stroke: var(--primary-color);
    }

    nav#navigation .menu .copy-text input:focus {
        outline: none;
    }

    /* Form */
    .form form textarea {
        font-size: 1.6rem;
    }

    .form textarea::placeholder {
        font-size: 1.6rem;
    }

    .form form footer div {
        font-size: 1.6rem;
    }

    .send {
        display: flex;
        align-items: center;
        gap: 1rem;

        padding: 1.2rem 1.6rem;
        background-color: var(--primary-color);
        border-radius: .8rem;
    }

    .send svg path {
        stroke: white;
    }

    .send::after {
        content: 'Send';
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
    }

    /* Question */
    .question .content .avatar svg {
        width: 52px;
        height: 52px;
    }

    .question .content a,
    .question .content div:nth-child(2) {
        font-size: 1.6rem;
        min-height: 5rem;
    }

    #room .question .actions {
        gap: 5.6rem;
        margin: 2rem;
    }

    .question .actions div {
        display: flex;
        align-items: center;
        gap: .8rem;

        color: hsl(22, 22%, 38%);

        font-size: 1.6rem;
        font-family: 'Open Sans', sans-serif;

        cursor: pointer;
    }

    .question .actions .check:after {
        content: 'Mark as read';
    }

    .question .actions .delete:after {
        content: 'Delete';
    }

    /* Answers */
    #answers-room .back-page svg {
        width: 40px;
        height: 40px;
        margin-block: 2rem;
        transition: ease-in-out .2s;
    }

    #answers-room .back-page svg:hover {
        transform: translateX(-20%);
    }

    #answers-room .separator {
        margin-bottom: 5.2rem;
    }

    #answers-room .separator div:nth-child(2) {
        font-size: 2.4rem;
    }

    #answers-room .form .separator div:nth-child(2) {
        min-width: 16rem;
    }

    #answers-room .answer .content .avatar svg {
        width: 52px;
        height: 52px;
    }

    #answers-room .answer .content div:nth-child(2) {
        font-size: 1.6rem;
        min-height: 5rem;
    }

    #answers-room .answer .actions {
        margin: 2rem;
    }

    #answers-room .answer .actions .delete {
        display: flex;
        align-items: center;
        gap: .8rem;

        color: hsl(22, 22%, 38%);

        font-size: 1.6rem;
        font-family: 'Open Sans', sans-serif;

        cursor: pointer;
    }

    #answers-room .answer .actions .delete:after {
        content: 'Delete';
    }
}