/* ==== Room ==== */
#room.content {
    max-width: min(32.3rem, 90%);
    margin-inline: auto;
}

#room header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1.8rem;
}

#room h2 {
    margin-top: 4rem;
}

/* ==== Form ==== */
.form form {
    border: 1px solid var(--border-input-color);
    border-radius: 0 .8rem .8rem .8rem;
    padding: 1.2rem 1.6rem;
}

.form form textarea {
    resize: none;

    width: 100%;
    margin-bottom: 4rem;

    border: none;
    outline: none;

    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.form form textarea::placeholder {
    color: var(--border-input-color);
}

.form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form form footer div {
    display: flex;
    align-items: center;
    gap: .8rem;

    font-size: 1.2rem;
    color: var(--border-input-color);
}

/* ==== Question ==== */
.question {
    background-color: var(--question-background);
    border-radius: 0 .8rem .8rem .8rem;

    padding: 1.2rem .8rem 0 1.2rem;
}

.question .content {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;

    margin-bottom: 2rem;
}

.question .content a,
.question .content div:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;

    color: var(--secundary-color);

    display: flex;
    align-items: flex-start;

    word-break: break-word;
    min-height: 5rem;
}

.question .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
}

/* ==== Questions Read ==== */
.question.read {
    background-color: var(--question-read-background);
}

/* ==== Menu expanded ==== */
.menu,
.close-menu,
body.menu-expanded .open-menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
    z-index: 10;
}

body.menu-expanded .logo svg path:nth-child(-n + 2) {
    fill: white;
}

body.menu-expanded .logo svg path:nth-child(n + 3) {
    stroke: white;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    padding: 0 3.2rem;

    transition: transform .3s;
    transform: translateX(0%);
}

.menu {
    transform: translateX(100%);
}

body.menu-expanded .menu div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    width: 100%;
    padding-block: 1.2rem;

    background: white;
    color: var(--primary-color);

    border-radius: .8rem;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

body.menu-expanded .menu div:nth-child(2) {
    color: white;
    width: fit-content;

    font-size: 1.6rem;
    font-weight: 500;

    border: 2px solid white;
    border-radius: .8rem;

    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

/* ==== Empty ==== */
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.empty .title {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;

    color: var(--primary-color);
}

/* ==== Questions-room ==== */
#questions-room .empty {
    margin: 4rem;
}

/* ==== Answers-room ==== */
#answers-room .wrapper {
    margin-block: 2.4rem;
}

#answers-room .question {
    margin-top: 4rem;
}

.separator {
    margin: 2rem 0;
}

.form .separator div:nth-child(2) {
    min-width: 10rem;
    text-align: center;
}